##Ingest

In [ ]:
import numpy as np
import pandas as pd
import string

In [ ]:
df=pd.read_json('News_Category_Dataset_v2.json',lines=True)

##Preprocessing

In [ ]:
df['category'].unique()

array(['CRIME', 'ENTERTAINMENT', 'WORLD NEWS', 'IMPACT', 'POLITICS',
       'WEIRD NEWS', 'BLACK VOICES', 'WOMEN', 'COMEDY', 'QUEER VOICES',
       'SPORTS', 'BUSINESS', 'TRAVEL', 'MEDIA', 'TECH', 'RELIGION',
       'SCIENCE', 'LATINO VOICES', 'EDUCATION', 'COLLEGE', 'PARENTS',
       'ARTS & CULTURE', 'STYLE', 'GREEN', 'TASTE', 'HEALTHY LIVING',
       'THE WORLDPOST', 'GOOD NEWS', 'WORLDPOST', 'FIFTY', 'ARTS',
       'WELLNESS', 'PARENTING', 'HOME & LIVING', 'STYLE & BEAUTY',
       'DIVORCE', 'WEDDINGS', 'FOOD & DRINK', 'MONEY', 'ENVIRONMENT',
       'CULTURE & ARTS'], dtype=object)

In [ ]:
lis=[ 'WORLD NEWS',
       'SPORTS', 'MONEY',
       'WOMEN','SCIENCE']

In [ ]:
df=df.loc[df['category'].isin(lis)]

In [ ]:
df=df.reset_index(drop=True)

In [ ]:
df["text"] = df["headline"] + df["short_description"]

In [ ]:
df['text'][1]

'North Korea Still Open To Talks After Trump Cancels SummitTrump’s announcement came after repeated threats by North Korea to pull out of the summit over what it saw as confrontational remarks by U.S. officials.'

In [ ]:
df

         category  ...                                               text
0      WORLD NEWS  ...  South Korean President Meets North Korea's Kim...
1      WORLD NEWS  ...  North Korea Still Open To Talks After Trump Ca...
2      WORLD NEWS  ...  2 Men Detonate Bomb Inside Indian Restaurant N...
3      WORLD NEWS  ...  Thousands Travel Home To Ireland To Vote On Ab...
4      WORLD NEWS  ...  Irish Voters Set To Liberalize Abortion Laws I...
...           ...  ...                                                ...
14431     SCIENCE  ...  Aurora Borealis Caused By Huge Solar Storm Shi...
14432      SPORTS  ...  Maria Sharapova Stunned By Victoria Azarenka I...
14433      SPORTS  ...  Giants Over Patriots, Jets Over Colts Among  M...
14434      SPORTS  ...  Aldon Smith Arrested: 49ers Linebacker Busted ...
14435      SPORTS  ...  Dwight Howard Rips Teammates After Magic Loss ...

[14436 rows x 7 columns]

In [ ]:
def removePunct(txt):
  txt_nopunct="".join([c for c in txt if c not in string.punctuation])
  return txt_nopunct

In [ ]:
df['textClean']=df['text'].apply(lambda x:removePunct(x))
df.head()

     category  ...                                          textClean
0  WORLD NEWS  ...  South Korean President Meets North Koreas Kim ...
1  WORLD NEWS  ...  North Korea Still Open To Talks After Trump Ca...
2  WORLD NEWS  ...  2 Men Detonate Bomb Inside Indian Restaurant N...
3  WORLD NEWS  ...  Thousands Travel Home To Ireland To Vote On Ab...
4  WORLD NEWS  ...  Irish Voters Set To Liberalize Abortion Laws I...

[5 rows x 8 columns]

In [ ]:
import re

In [ ]:
def tokenize(txt):
  tokens=re.split('\W+',txt)
  return tokens

In [ ]:
df['textCleanToken']=df['textClean'].apply(lambda x:tokenize(x.lower()))
df.head()

     category  ...                                     textCleanToken
0  WORLD NEWS  ...  [south, korean, president, meets, north, korea...
1  WORLD NEWS  ...  [north, korea, still, open, to, talks, after, ...
2  WORLD NEWS  ...  [2, men, detonate, bomb, inside, indian, resta...
3  WORLD NEWS  ...  [thousands, travel, home, to, ireland, to, vot...
4  WORLD NEWS  ...  [irish, voters, set, to, liberalize, abortion,...

[5 rows x 9 columns]

In [ ]:
import nltk
nltk.download('stopwords')
stopwords=nltk.corpus.stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
def removeStopwords(txt):
  txt_clean=[word for word in txt if word not in stopwords]
  return txt_clean

In [ ]:
df['noStopwords']=df['textCleanToken'].apply(lambda x: removeStopwords(x))
df.head()

     category  ...                                        noStopwords
0  WORLD NEWS  ...  [south, korean, president, meets, north, korea...
1  WORLD NEWS  ...  [north, korea, still, open, talks, trump, canc...
2  WORLD NEWS  ...  [2, men, detonate, bomb, inside, indian, resta...
3  WORLD NEWS  ...  [thousands, travel, home, ireland, vote, abort...
4  WORLD NEWS  ...  [irish, voters, set, liberalize, abortion, law...

[5 rows x 10 columns]

In [ ]:
from nltk.stem import PorterStemmer
ps=PorterStemmer()
def stemming(token_txt):
  text=[ps.stem(word) for word in token_txt]
  return text

In [ ]:
df['stemmed']=df['noStopwords'].apply(lambda x: stemming(x))
df.head()

     category  ...                                            stemmed
0  WORLD NEWS  ...  [south, korean, presid, meet, north, korea, ki...
1  WORLD NEWS  ...  [north, korea, still, open, talk, trump, cance...
2  WORLD NEWS  ...  [2, men, deton, bomb, insid, indian, restaur, ...
3  WORLD NEWS  ...  [thousand, travel, home, ireland, vote, abort,...
4  WORLD NEWS  ...  [irish, voter, set, liber, abort, law, landsli...

[5 rows x 11 columns]

In [ ]:
def cleanWords(text):
  txt="".join([p for p in text if p not in string.punctuation])
  tokens=re.split("\W+",txt)
  txt=[ps.stem(word) for word in tokens if word not in stopwords]

In [ ]:
def listToString(s): 
    
    # initialize an empty string
    str1 = " " 
    
    # return string  
    return (str1.join(s))

In [ ]:
df['string']=df['stemmed'].apply(lambda x: listToString(x))
df.head()

     category  ...                                             string
0  WORLD NEWS  ...  south korean presid meet north korea kim jong ...
1  WORLD NEWS  ...  north korea still open talk trump cancel summi...
2  WORLD NEWS  ...  2 men deton bomb insid indian restaur near tor...
3  WORLD NEWS  ...  thousand travel home ireland vote abort access...
4  WORLD NEWS  ...  irish voter set liber abort law landslid exit ...

[5 rows x 12 columns]

In [ ]:
def removeNum(txt):
  result = ''.join([i for i in txt if not i.isdigit()])
  return result

In [ ]:
df['Nonum']=df['string'].apply(lambda x: removeNum(x))

In [ ]:
df = df.sample(frac=1).reset_index(drop=True)

In [ ]:
df

         category  ...                                              Nonum
0          SPORTS  ...  knick owner ban charl oakley arena step person...
1          SPORTS  ...  chuck pagano return colt coach return sidelin ...
2          SPORTS  ...   reason wisconsin make colleg footbal playoffi...
3           MONEY  ...  debt manag plan help coupl escap  credit card ...
4           WOMEN  ...  ivanka trump women day tribut went exactli you...
...           ...  ...                                                ...
14431      SPORTS  ...   polit lesson fantasi footbally fantasi footba...
14432     SCIENCE  ...  thoma edison greatest invent innov itselfediso...
14433  WORLD NEWS  ...  convoy carri aid thousand syrian prepar enter ...
14434       MONEY  ...  buy plane ticketwhen best time book flight one...
14435      SPORTS  ...  protest erupt univers look hire coach connect ...

[14436 rows x 13 columns]

In [ ]:
from collections import Counter
Counter(df['category'])

Counter({'MONEY': 1707,
         'SCIENCE': 2178,
         'SPORTS': 4884,
         'WOMEN': 3490,
         'WORLD NEWS': 2177})

##TF-IDF

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tv=TfidfVectorizer()
X=tv.fit_transform(df['Nonum'])
print(X.shape)

(14436, 29535)

In [ ]:
df3=pd.DataFrame(X.toarray(),columns=tv.get_feature_names())

In [ ]:
df3.head()

    aa  aaa  aam  aan  aarhu  ...  zurichth  zurlon  zweig  zynga  école
0  0.0  0.0  0.0  0.0    0.0  ...       0.0     0.0    0.0    0.0    0.0
1  0.0  0.0  0.0  0.0    0.0  ...       0.0     0.0    0.0    0.0    0.0
2  0.0  0.0  0.0  0.0    0.0  ...       0.0     0.0    0.0    0.0    0.0
3  0.0  0.0  0.0  0.0    0.0  ...       0.0     0.0    0.0    0.0    0.0
4  0.0  0.0  0.0  0.0    0.0  ...       0.0     0.0    0.0    0.0    0.0

[5 rows x 29535 columns]

In [ ]:
categories=df['category']

#CNN

In [ ]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Activation, Flatten, Conv2D, MaxPooling2D, Conv1D, MaxPooling1D
import pickle

In [ ]:
x=df3.values

In [ ]:
y=categories.values

In [ ]:
y

array(['SPORTS', 'SPORTS', 'SPORTS', ..., 'WORLD NEWS', 'MONEY', 'SPORTS'],
      dtype=object)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

yLE = le.fit_transform(y)

In [ ]:
yLE

array([2, 2, 2, ..., 4, 0, 2])

In [ ]:
yLE = np.asarray( tf.keras.utils.to_categorical(yLE))

In [ ]:
yLE

array([[0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0.],
       ...,
       [0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0.]], dtype=float32)

In [ ]:
from sklearn.model_selection import train_test_split
trainX, testX, trainy, testy = train_test_split(x, yLE, test_size=0.25, random_state=1000)

In [ ]:
trainX.shape

(10827, 29535)

In [ ]:
from tensorflow.keras import regularizers

In [ ]:
np.amax(trainX)

1.0

In [ ]:
max_features =29535
embedding_dim =256


model = tf.keras.Sequential()
model.add(tf.keras.layers.Embedding(2, embedding_dim, 
                                    embeddings_regularizer = regularizers.l2(0.0005)))                                    

model.add(tf.keras.layers.Conv1D(128,3, activation='relu',\
                                 kernel_regularizer = regularizers.l2(0.0005),\
                                 bias_regularizer = regularizers.l2(0.0005)))                               


model.add(tf.keras.layers.GlobalMaxPooling1D())

model.add(tf.keras.layers.Dropout(0.5))

model.add(tf.keras.layers.Dense(5, activation='sigmoid',\
                                kernel_regularizer=regularizers.l2(0.001),\
                                bias_regularizer=regularizers.l2(0.001),))
                               
model.summary()


model.summary()
model.compile(loss=tf.keras.losses.CategoricalCrossentropy(from_logits=True), optimizer='Nadam', metrics=["CategoricalAccuracy"])

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, None, 256)         512
_________________________________________________________________
conv1d (Conv1D)              (None, None, 128)         98432
_________________________________________________________________
global_max_pooling1d (Global (None, 128)               0
_________________________________________________________________
dropout (Dropout)            (None, 128)               0
_________________________________________________________________
dense (Dense)                (None, 5)                 645
=================================================================
Total params: 99,589
Trainable params: 99,589
Non-trainable params: 0
_________________________________________________________________
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, None, 256)         512
_________________________________________________________________
conv1d (Conv1D)              (None, None, 128)         98432
_________________________________________________________________
global_max_pooling1d (Global (None, 128)               0
_________________________________________________________________
dropout (Dropout)            (None, 128)               0
_________________________________________________________________
dense (Dense)                (None, 5)                 645
=================================================================
Total params: 99,589
Trainable params: 99,589
Non-trainable params: 0
_________________________________________________________________

In [48]:
epochs = 3
# Fit the model using the train and test datasets.
history = model.fit(trainX, trainy,validation_data= (testX,testy),epochs=epochs )

Epoch 1/3

/usr/local/lib/python3.7/dist-packages/tensorflow/python/keras/backend.py:4870: UserWarning: "`categorical_crossentropy` received `from_logits=True`, but the `output` argument was produced by a sigmoid or softmax activation and thus does not represent logits. Was this intended?"
  '"`categorical_crossentropy` received `from_logits=True`, but '

339/339 [==============================] - 2403s 7s/step - loss: 1.5650 - categorical_accuracy: 0.3366 - val_loss: 1.5439 - val_categorical_accuracy: 0.3394
Epoch 2/3
339/339 [==============================] - 2397s 7s/step - loss: 1.5446 - categorical_accuracy: 0.3379 - val_loss: 1.5389 - val_categorical_accuracy: 0.3394
Epoch 3/3
339/339 [==============================] - 2415s 7s/step - loss: 1.5411 - categorical_accuracy: 0.3380 - val_loss: 1.5383 - val_categorical_accuracy: 0.3394